@media only screen and  (min-width:320px) and (max-width:480px)
{
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;

    }
body{
    appearance: none;
    -webkit-appearance: none;
   

}
.container{
    padding: 0;
    margin:0;
    overflow: hidden;
}
    
    header{
width: 100vw;
height: 200px;

}
header>.nav-bar{
  background-color: white;

  height: 60px;

}


.hero-content{
    position: relative;
    font-family: 'Figtree', sans-serif;
    line-height: 1.22;
}
.hero{

width: 300px;
position: absolute;
top: 120px;
left: 20px;
font-size: 20px;
font-weight: 600;
font-family: 'Figtree', sans-serif;
}
.menu-bar{
    display: inline;
    margin-top: -10px;
    width: 18px;
    margin-left: 6px;
}
.left-part{
    display: none;
}
.logo{
    width: 140px;
    margin-left: -26px;
    margin-top: -9px;


}
.right-part{
margin-top: -6px;
margin-left: 146px;
padding: 0;
}
.right-part>.non-button{
    display: none;
}
        .right-part>.button{

          margin-top:0px;
          margin-left: 70px;
          animation: none;
    
         background-color: #281713;
    
          }
          .button-search>img{
           margin-left: 0px;
           display: block;
           margin-right: 80px;
          }
          .hero-content{
         margin: 0px 40px;
            font-size: 10px;
            }
     
    .search-box{
        width: 411px;
        height: 226px;
        margin-top: 4px;
       background-color: #281713;
       margin-right:6px;
        border-radius: 40px;

    }
    .search-box>.search-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 390px;
        height: 55px;
        margin-left: 11px;
         
           background-color:#FFF6F2;
           border-radius: 30px;
           text-align: center;
           margin-top: -14px;
       }

       .search-logo{
       display:none;
    }
    .search-bar>input{
        width: 400px;
        height: 40px;
     
    }
   .search-bar>input::placeholder{
    font-size: 6px;
    color: black;
    font-weight: 100;
}
    .search-button{
        border: none;
        width: 93px;
        height: 42px;
        border-radius: 30px;
        background-color:#bf0000;
        cursor: pointer;
        margin-right: 6px;
    
    }
    .category{
        display: none
    }
    .responsive-category{
        display: block;
        font-size: 14px;
        font-weight: 600;
        margin-top: 3px;
      margin-right: 58px;
       text-align: center;
       font-family: 'Figtree', sans-serif;
       color: rgba(255, 255, 255, 0.45);
    }
    
    .up-content{
        display: flex;
        justify-content: space-around;
        align-items:center;
        margin-top: 28px;
margin-left: 0;
        
    }
    
    .up-content>p{
  display: flex;
  justify-content: center;
        align-items: center;
        font-size: 10px;
    cursor: pointer;
    margin-left: 2px;
    font-family: 'Figtree', sans-serif;
    font-weight: 600;
    font-size: 14px;
       
    }
    .down-content{
        display: flex;
      width: 100%;
        align-items: center;
        margin-left: -21px;
        margin-top: 5px;
    text-align: center

    
    }
    .down-content>p{
        
        display: flex;
        justify-content: center;
              align-items: center;
              font-size: 14px;
            font-size: 14px;
              margin-top: 10px;
          cursor: pointer;
    }
    .brand{
           margin-top: 300px;
       }

    .brand-title{
        margin-left:120px;
        margin-top: -223px;
        font-size: 17px;
        font-family:'poppins',sans-serif;
        font-weight: 600;
    }
    .brand-images{
        display: flex;
        flex-wrap: wrap;
        justify-content: start;        
    width: 100vw;
        margin-top: 40px;
        gap: 28px;
padding: 10px 20px;
    }
    .brand-images>img{
        width: 74px;
    }
    .influncer-box{
        position: relative;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height:750px;
        margin-top: -21px;
        color: white;
        background:#3f2017 ;
        background-size: cover;
       
    }
    .influncer-content{
        position: absolute;
        top: 0px;
        left: 0px;
        padding: 10px;
       width: 100vw;
    }
   
    .title-top{
        font-size: 10px;
        margin-top: 20px;
          }
          .influncer-image{
            overflow-x:scroll ;
            width: 100vw;
            margin-left: 10px;
        
          }
    .influncer-image-container-1{
        animation:none;
        width: 100%;
        margin-top:380px;
        display: flex;
        gap: 25px;
        margin-left: 0px;   
    }
    .influncer-image-container-2{
display: none;
    }
   
          .influncer-button{
            display: none;
          }
/*pending*/
.pickmyad-work-content{
margin-left: 0px;
}
.pickmyad-work{
    display: flex; 
}
.title-top{
    margin-left: 10px;
    font-size: 13px;
    
}
.pickmyad-work-image{
    display: none;
}
.image-1>img{
    display: none;
}
.image-2>img{
    display: none;
}

.work-title{
width: 400px;
font-size: 55px;
padding-right:  30px; 
margin-left: 10px;
font-family: "Fraunces", serif;
   
  
}
.work-info{
    margin-left: 10px;
    margin-top: 10px;
    font-size: 15px;
width: 100vw;
font-family: 'Figtree', sans-serif;

}
.success{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
}
.success-content{
  margin-top: 50px;
  margin-left: 5px;
}
.success-head{
    color: #D15737;
    font-size: 64px;
    font-weight:600;
    font-family: 'Roboto', sans-serif;

}
.success-info{
    width: 100vw;
    color: #281713A6;
    font-family: 'Figtree', sans-serif;
    font-size: 32px;
    font-weight: 700;

}
.join-button{
    display:block;
    margin-top: 70px;
    margin-left:6px;
   
}

.experience-container{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    border-radius:0;
}
.experience-content{
   
    margin-top: 0px;
    padding: 10px;
    width: 100vw;

}
.experience-title{
    width: 400px;
    font-size: 55px;
    padding-right:  30px; 
    margin-left: 0px;
    font-family: "Fraunces", serif;
    color:#271711;

}
.experience-info{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    color:#271711;

width: 350px;
font-family: 'Figtree', sans-serif;
}
.experience-button{
    margin-top: 10px;
    height: 50px;
}
.experience-image{
    display: none;
}
.inspire-container{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-right: 100px;

}
.inspire-content{
    margin-top:0;
    text-align:justify;

}
.insipre-title-top{
font-size: 14px;
font-family: 'Figtree', sans-serif;
font-weight:500;
word-spacing: 2px;

color:#4A271E;
}
.inspire-title{
    font-size: 36px;
    letter-spacing: 2px;
    margin-top: 20px;
    font-weight: bold;
    font-family: 'Fraunces', serif;
color:#4A271E;

    
}
.inspire-info{
    margin-top: 10px;
    padding:5px;
    color:#4A271E;
font-weight: 400;
    width: 500px;
    font-size: 16px;
    font-family: 'Figtree', sans-serif;

}
.inspire-button{
    margin-top: 10px;
    width: 190px;
    height: 50px;
    color: white;
    font-size: 15px;

}
.inspire-cards-container{
width: 100vw;
overflow-x: scroll;
-webkit-appearance: none;

}
.inspire-cards{
    width: 100%;
    animation: none;
    margin-left: 60px;
   
}
.card{
    width: 300px;
    height: 350px;
    padding: 20px;
}

.faq-head{
   display: none;
 

}
.faq-head-resposive{
  
    display:block;
    margin-top: 50px;
    padding-left: 25px;



}
.faq-container{
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 180px;
}
.faq-left{
    margin-bottom: 400px;

}
.list-div>li{

    width:372px;
    height: auto;
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: justify;
    word-wrap: break-word;
    word-break: keep-all;
    margin-right: 2px;
}
.faq-left>li>span>img{
    width: 8px;
}
.faq-right{
    margin-top:-400px;
}
.faq-right>li{
    width:385px;
    height: auto;
    text-align: justify;  
}
.sub-info{
   width: 100%;
}
.faq-right>li>span>img{
    width: 8px;
}

.faq-box{
    width: 380px;
    height: 240px;
    border: 0;
    border-bottom: 1px solid black;
    border-radius:0;
    margin-top: 70px;
   padding: 10px;
  display: flex;
  
}
.faq-box-content{
    padding:0;
}
.faq-button{
    width: 160px;
    height: 50px;
    font-size: 15px;
    margin-top: 60px;
}

.faq-img>img{
    
    margin-top: 80px;
}
footer{
    margin-top: 454px;
height: 680px;
    background-color:#281511;
    color: white;
    position: relative;
}
.footer-content{
    display: flex;
   flex-direction: column;
align-items: flex-start;
}
.footer-img{
   position: absolute;
   bottom: 80px;
   left: 120px;
}
.footer-img>img{
    width: 200px;;
}
.footer-description{
    width: 300px;
    display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
position: absolute;
right: 100px;
top: 0px;

text-align: center;
}
.responsive-link{
    width: 150px;
    text-align: start;

}
.responsive-link2{
    position:absolute;
    left: 5px;
    top:220px;
    text-align: start;
}
.line{
    width: 380px;
    height: 1px;
  margin-left: 18px;
    background-color: grey;
    position: absolute;
    top: 500px;
}
.footer-end{
    position: absolute;
    bottom: 0;
    left: 70px;
    color: #FFFFFFA6;
    font-size: 12px;
    font-family: 'Figtree', sans-serif; 
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.message{
    right: 18px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.9)
}


}
